* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}

.timer{
  background-color: red;
  font-size: x-large;
}

body {
    background-color: beige;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameWorld {
    background-color: rgb(35, 1, 77);
    width: 516px;
    height: 516px;
    border: 5px green inset;
}


.name {
    position: relative;
    width: max-content;
    color: white;
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    text-align: center;
}

#lobby {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgb(62, 62, 62);
    border: 3px solid gray;
}

#game {
  z-index: 3;
}

#level {
  z-index: 4;
  display: grid;
}

#fps {
  position: absolute;
  left: 999;
  right: 0;
  top: 0;
}

/* #username-field {
    font-size: x-large;
    width: 200px;
    height: 30px;
} */


    .button-50 {
      appearance: button;
      background-color: #000;
      background-image: none;
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    .button-50:focus {
      text-decoration: none;
    }

    .button-50:hover {
      text-decoration: none;
    }

    .button-50:active {
      box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
      outline: 0;
    }

    .button-50:not([disabled]):active {
      box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
      transform: translate(2px, 2px);
    }

    @media (min-width: 768px) {
      .button-50 {
        padding: 12px 50px;
      }
    }

/* From Uiverse.io by 0xnihilism */
.input {
    width: 100%;
    max-width: 200px;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
  }

  .input::placeholder {
    color: #888;
  }

  .input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
  }

  .input:focus {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
  }

  .input:focus::placeholder {
    color: #fff;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .input:focus::after {
    content: "|";
    position: absolute;
    right: 10px;
    animation: blink 0.7s step-end infinite;
  }

  .input:valid {
    animation: typing 2s steps(30, end);
  }
  .input-container {
    position: relative;
    width: 100%;
    max-width: 270px;
  }

  .input {
    width: 100%;
    height: 60px;
    padding: 12px;
    font-size: 18px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
  }

  .input::placeholder {
    color: #888;
  }

  .input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
  }

  .input:focus {
    background-color: #010101;
    color: #fff;
    border-color: #d6d9dd;
  }

  .input:focus::placeholder {
    color: #fff;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotate(-5deg);
    }
    50% {
      transform: translateX(5px) rotate(5deg);
    }
    75% {
      transform: translateX(-5px) rotate(-5deg);
    }
    100% {
      transform: translateX(0);
    }
  }

  .input:focus {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes glitch {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  .input:not(:placeholder-shown) {
    animation: glitch 1s linear infinite;
  }

/*   .input-container::after {
    content: "|";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    animation: blink 0.7s step-end infinite;
  } */

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .input:focus + .input-container::after {
    color: #fff;
  }

  .input:not(:placeholder-shown) {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0 #000;
  }


  #level{
    display: flex;
    flex-direction: column;
  }

  .hud {
    width: 100%;
    display: flex;
  }

  .hudPlayers {
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px
    ;
  }

  .gameArea {
    position: relative;
    height: 638px;
    width: 754px;
    border: solid 1px;
    flex-direction: column;
    background-color: #888;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(58px, 1fr));
  }

  .inGame {
    position: absolute;
    top: 58px;
    left:58px;
  }

.player {
    position: absolute;
    width: 50px;
    height: 58px;
}

#player0 {
  top: 58px; /* magic */
  left: 58px; /* magic */
  background-image: url('./assets/red.png');
  background-size: cover;
}
#player1 {
  top: 58px; /* magic */
  left: 638px; /* magic */
  background-image: url('./assets/blue.png');
  background-size: cover;
}
#player2 {
  top: 522px; /* magic */
  left: 58px; /* magic */
  background-image: url('./assets/purple.png');
  background-size: cover;
}
#player3 {
  top: 522px; /* magic */
  left: 638px; /* magic */
  background-image: url('./assets/green.png');
  background-size: cover;
}

.box-1 { /* in-desctructible */
    width: 58px;
    height: 58px;
    background-image: url('./assets/hardbrick.png');
    background-size: cover;
}

.box-2 { /* desctructible */
  width: 58px;
  height: 58px;
  background-image: url('./assets/softbrick.png');
  background-size: cover;
}

.box-0 { /* empty */
  width: 58px;
  height: 58px;
}

.topBoxes, .bottomBoxes, .leftBoxes, .rightBoxes {
  position:absolute;
  display: flex;
}

.leftBoxes, .rightBoxes {
  flex-direction: column;
}


/* Chat component */
.chat-container {
  position: absolute;
  left: 750px;
  top: -9px;
  padding: 10px;
  width: 200px;
}


.chat-messages {
  height: 549px;
  overflow-y: scroll;
  background-color: #888;
  padding: 10px;
  border: 2px solid black;
  max-width: 100%;  /* Ensures it doesn't overflow horizontally */
  overflow-y: auto; /* Allows vertical scrolling for long content */
  word-wrap: break-word;  /* Forces long words to break and wrap */
  word-break: break-word;  /* Ensures that long words break inside the container */
}


.messages {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: whitesmoke;
  max-width: 190px;
  
}
.message {
  white-space: pre-wrap; /* Preserves spaces, line breaks, and prevents overflow */
  word-break: break-word; /* Breaks long words that don't fit */
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-textarea {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #ccc; */
  resize: none;
  overflow: hidden;
  border-radius: 4px;
  /* margin-right: 100px; */
  box-sizing: border-box;
}

.send-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bomb-icon {
  background-image: url('./assets/bomb.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
